server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://10.17.100.2:3100/loki/api/v1/push

scrape_configs:
- job_name: {{ ansible_host }}
  static_configs:
  - targets:
      - localhost
    labels:
      job: {{ ansible_host }}
      __path__: /var/lib/docker/containers/*/*.log
  pipeline_stages:
    - regex:
        expression: "/var/lib/docker/containers/(?P<container_id>[a-z0-9]{64})/.*"
    - labels:
        container_id:
    - docker: {}
    - output:
        source: message